{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="text-center title_form">{{ title }}</h1>
<p  class="b-password_reset__title text-center">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form method="post" action="" class="form-horizontal">
	{% csrf_token %}
	{{ form.management_form }}
	{% if form.non_field_errors %}
		<div class="col-sm-12">
			<div class="alert alert-danger all col-sm-6 col-sm-offset-3">
					{{ form.non_field_errors }}
			</div>
		</div>
	{% endif %}

	{% for field in form %}
		<div class="form-group {% if field.errors %}has-error{% endif %} col-sm-12">
			<div class="col-sm-3 col-sm-offset-3">
				<label for='id_username' class='control-label label_field'>
					{{ field.label }}
				</label>
				{% if field.errors %}
					<span class="errors_field control-label">{{ field.errors }}</span>
				{% else %}
					<span class="help-text">{{ field.help_text }}</span>
				{% endif %}
			</div>
			<div class="col-sm-3">
				{{ field }}
			</div>
		</div>
	{% endfor %}
	<div class="form-group col-sm-12">
		<div class="text-center col-sm-offset-6 col-sm-3">
			<button type="submit" value="Send" class="btn btn-primary b-form_submit col-md-12">{% trans 'Reset my password' %}</button>
		</div>
	</div>
</form>

<script>
	$( "input" ).addClass( "form-control" );
</script>


{% endblock %}
