body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.todo_form {
    width: 350px;
    margin: 0px auto;
}

#id_title {
    width: 100%;
    padding: 15px;
}

#button {
    display: block;
    margin: 20px 0px;
    padding: 10px;
    width: 150px;
    background: #cccccc;
    border: none;
}

.list {
    padding: 0px;
    border: 1px solid #000000;
    width: 600px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
}
