body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 50px;
}

.todo_form {
    width: 350px;
    margin: 0px auto;
}

.button {
    margin: 20px 0;
}

.list {
    padding: 0px;
    border: 1px solid #000000;
    width: 600px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
}

.done {
    text-decoration: overline;
}

.filter_todo {
    margin-bottom: 20px;
}

ul li {
    padding-left: 25px;
}