{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Добавить задачу</h1>
    <form method="post" class="form-horizontal col-md-5 col-md-offset-4">
        {% csrf_token %}
        <div class="form-group  {% if form.title.errors %}has-error{% endif %}">
            <div class="col-sm-10">
                {% if form.title.errors %}
                    <p>Обязательное поле</p>
                {% endif %}
                <input type="text" name="{{ form.title.name }}"
                       id="id_title {% if form.title.errors %}inputError2{% endif %}"
                       class="form-control col-md-12" placeholder="Заголовок задачи"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <div class="checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="id_personal" name="{{ form.personal.name }}"> Персональная
                        задача
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="id_work" name="{{ form.work.name }}"> Рабочая задача
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-default button">Создать задачу</button>
            </div>
        </div>
    </form>

    <ul class="nav nav-pills col-md-5 col-md-offset-4 filter_todo">
        <li class="all_search">Все задачи</li>
        <li class="personal_search">Персональные задачи</li>
        <li class="work_search">Рабочие задачи</li>
        <input type="hidden" name="personal" value="True" class="personal">
        <input type="hidden" name="work" value="True" class="work">
    </ul>
    <div class="result_todo col-md-12"></div>
    <script>
        $('.personal_search').on('click', function (e) {
            e.preventDefault();
            $('.personal').prop('checked', true);
            $('.work').prop('checked', false);
            $.get('/results/' + '?personal=True', function (response) {
                $('.result_todo').html(response);
            });
        });

        $('.work_search').on('click', function (e) {
            e.preventDefault();
            $('.work').prop('checked', true);
            $('.personal').prop('checked', false);
            $.get('/results/' + '?work=True', function (response) {
                $('.result_todo').html(response);
            });
        });

        $('.all_search').on('click', function (e) {
            e.preventDefault();
            $('.work').prop('checked', false);
            $('.personal').prop('checked', false);
            $.get('/results/', function (response) {
                $('.result_todo').html(response);
            });
        });

    </script>
{% endblock %}